
html {
    margin: 0;
    background: url("jessica-lewis-fJXv46LT7Xk-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -mox-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background: rgba(0,0,0,0.5);

}


body {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0;
    }

h1, h2 {
    text-align:center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
}
*/

.todo {
    
    position: relative;
    display: flex;
    align-items: center;
}
ul li.checked {
    background: #282828;
    color: white;
    text-decoration: line-through;
}

#list li {
    list-style-type: none;
}

#error {
    color: red;
    font-weight: bold;
}

.fa-check-circle {
    color: #22e32c;
}

.input-error {
    border: 2px solid red;
}

.input-ok {
    border: 1px solid black;
}

.lineThrough {
    color: #D3D3D3;
    text-decoration: line-through;
}