body {
    font-family: 'Raleway', sans-serif;
    background-color: #ebf0fa;
}

.todo {
    padding: 10px 20px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1em;
}
ul li.checked {
    background: #282828;
    color: white;
    text-decoration: line-through;
}

#list li {
    list-style-type: none;
}

#error {
    color: red;
    font-weight: bold;
}

.input-error {
    border: 2px solid red;
}

.input-ok {
    border: 1px solid black;
}