
html {
    height: 100%;
    margin: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
    url("jessica-lewis-fJXv46LT7Xk-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -mox-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}


body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    
    }

h1, h2 {
    text-align:center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
    margin: 0;

    
   
    
}


.todo {
    
    position: relative;
    display: flex;
    align-items: center;
}
ul li.checked {
    background: #282828;
    color: white;
    text-decoration: line-through;
}

#button {
    background-color: transparent;
    border-color: white;
    color: white;
    padding: 3px;
    border-radius: 5px;

}

input[type="text"] {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    outline: none;
}

input[type="date"] {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit; 
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

::-webkit-datetime-edit-month-field { background: none; }
::-webkit-datetime-edit-day-field { background: none; }
::-webkit-datetime-edit-year-field { background: none; }

::-webkit-inner-spin-button {
  display: none;
}
::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
    background: transparent;
}
/*::-webkit-calendar-picker-indicator {
  opacity: 0;
  height: 14px;
  width: 80px;
  
 
  z-index: 2;
  position: absolute;
  left: 9px;
  top: 8px;
}
*/
#list li {
    list-style-type: none;
}

#textError, #dateError {
    color: red;
    font-weight: bold;
}

.fa-check-circle {
    color: #22e32c;
}


.input-ok {
    border: 1px solid black;
}

.lineThrough {
    color: #D3D3D3;
    text-decoration: line-through;
}

#clear {
    background-color: transparent;
    color: white;
    border: transparent;
}